*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 253, 233);
}
.div{
    position: relative;
    top: 150px;
    left: 100px;
    width: 285px;
    height: 480px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    display: flex;
    flex-direction: column;
}
p{
    font-size: 1.1em;
    color: rgb(131, 131, 131);
}
.p{
    font-size: 1.5em;
    padding-left: 40px;
}
button{
    background-color: green;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    margin-top: 10px;
}
.h1:not(sup){
    color: rgb(27, 230, 0);
}
sup, del{
    color: rgb(128, 128, 128);
    font-size: 0.7em;
}
img{
    position: absolute;
    top: 160px;
    right: 810px;
    width: 285px;
    height: 480px;
}